pre {
  @include _(var(--font_size_code));
  @include margin(0 null var(--_));

  font-family: var(--font_family_code);
}

code,
kbd,
samp {
  @include _(var(--font_size_code), 2);

  font-family: var(--font_family_code);
  vertical-align: bottom;
}

