form {
  margin: 0 0 var(--_);
}

fieldset {
  border: .1rem solid var(--body_color);
  margin: 0 0 var(--_);
  min-width: 0;
  padding: 0 1rem calc(var(--_) - .1rem);

  > :last-child {
    margin-bottom: 0;
  }
}

legend {
  padding: 0 .5rem;
}

#{$all-text-inputs},
select {
  background-color: var(--input_background_color);
  border: .2rem inset var(--input_border_color);
  border-radius: var(--input_border_radius);
  color: var(--input_color);
  height: calc(var(--_) * 2);

  &:hover {
    background-color: var(--input_background_color_hover);
    border-color: var(--input_border_color_hover);
    color: var(--input_color_hover);
  }

  &:focus {
    @include outline();

    background-color: var(--input_background_color_focus);
    border-color: var(--input_border_color_focus);
    color: var(--input_color_focus);
  }

  &:active {
    background-color: var(--input_background_color_active);
    border-color: var(--input_border_color_active);
    color: var(--input_color_active);
  }

  &:disabled {
    background-color: var(--input_background_color_disabled);
    border-color: var(--input_border_color_disabled);
    color: var(--input_color_disabled);
  }
}

#{$all-text-inputs} {
  padding: 0 .25em;
}

textarea {
  height: auto;
  padding: .2rem .25em;
  margin: calc(var(--_half_ceil) - .4rem) 0 calc(var(--_half_floor) - .4rem);
}
