form {
  margin: 0 0 var(--_);
}

fieldset {
  @include after_border();

  border: 0;
  padding: 0 1rem var(--_);
  margin: 0 0 var(--_);

  &::after {
    top: calc(-1 * var(--_));
    z-index: -1;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

legend {
  background-color: var(--body_background_color);
  padding: 0 .5rem;
}

#{$all-text-inputs},
select {
  background-color: var(--input_background_color);
  border: .2rem inset var(--input_border_color);
  border-radius: var(--input_border_radius);
  color: var(--input_color);
  height: calc(var(--_) * 2);

  &:hover {
    background-color: var(--input_background_color_hover);
    border-color: var(--input_border_color_hover);
    color: var(--input_color_hover);
  }

  &:active {
    background-color: var(--input_background_color_active);
    border-color: var(--input_border_color_active);
    color: var(--input_color_active);
  }

  &:focus {
    @include outline();

    background-color: var(--input_background_color_focus);
    border-color: var(--input_border_color_focus);
    color: var(--input_color_focus);
  }

  &._disabled,
  &:disabled,
  &[disabled='disabled'] {
    background-color: var(--input_background_color_disabled);
    border-color: var(--input_border_color_disabled);
    color: var(--input_color_disabled);
    pointer-events: none;
  }
}

#{$all-text-inputs} {
  padding: 0 .25em;
}

textarea {
  height: auto;
  padding: calc(var(--_half_ceil) - .2rem) .25em calc(var(--_half_floor) - .2rem);
}
