table {
  @include _($_font_size);

  margin-bottom: var(--_);
  width: 100%;
}

caption {
  font-weight: bold;
}

thead th {
  font-weight: bold;
  vertical-align: bottom;
}

td, th {
  padding: 0 .25em;
  vertical-align: top;

  > dl,
  > ol,
  > ul,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.responsive-table-wrapper {
  margin-bottom: var(--_);
  overflow-x: auto;

  > table:last-child {
    margin-bottom: 0;
  }
}
