address {
  margin-bottom: var(--_);
}

blockquote {
  margin: 0 2rem var(--_);
}

h1, ._h1,
h2, ._h2,
h3, ._h3,
h4, ._h4,
h5, ._h5,
h6, ._h6 {
  @include margin(0 null var(--_));

  font-family: var(--font_family_h);
  font-weight: bold;

  small, ._small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, ._h1 {
  @include _(var(--font_size_h1), 3);
}

h2, ._h2 {
  @include _(var(--font_size_h2), 3);
}

h3, ._h3 {
  @include _(var(--font_size_h3), 2);
}

h4, ._h4 {
  @include _(var(--font_size_h4), 2);
}

h5, ._h5 {
  @include _(var(--font_size_h5), 2);
}

h6, ._h6 {
  @include _(var(--font_size_h6), 1);
}

p, ._text {
  @include margin(0 null var(--_));
}

hr {
  @include margin(0 null calc(var(--_) - .1rem));

  border: 0;
  border-top: .1rem solid var(--body_color);
}

a {
  &:link {
    color: var(--link_color);
  }

  &:visited {
    color: var(--link_visited_color);
  }

  &[href] {
    &:hover,
    &:active {
      color: var(--link_focus_color);
    }
  }

  &:focus {
    @include outline();

    color: var(--link_focus_color);
  }
}

._large {
  font-size: var(--font_size_large_percentage);
}

small, ._small {
  font-size: var(--font_size_small_percentage);
}

sub, sup {
  font-size: var(--font_size_small_percentage);
}
