table {
  margin: 0 0 ($_ / 2);
  width: 100%;
}

caption {
  font-weight: bold;
}

th,
td {
  padding: 0 .25em;

  > dl,
  > ol,
  > ul,
  > table {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
