<!DOCTYPE html>
<html lang="{% value 'lang' 'en' %}">
  <head>{% for stylesheet in site.stylesheets %}
    {% include stylesheet.html stylesheet=stylesheet %}{% endfor %}{% for stylesheet in layout.stylesheets %}
    {% include stylesheet.html stylesheet=stylesheet %}{% endfor %}{% for stylesheet in page.stylesheets %}
    {% include stylesheet.html stylesheet=stylesheet %}{% endfor %}

    <meta charset="{% value 'charset' 'utf-8' %}">
    <meta name="author" content="{% value 'author' %}">
    <meta name="description" content="{% value 'description' %}">
    <meta name="robots" content="{% value 'robots' 'index,follow' %}">
    <meta name="viewport" content="{% value 'viewport' 'width=device-width, initial-scale=1' %}">{% if page.style %}

    <style>
{{ page.style }}    </style>{% endif %}

    <title>{{ page.title }}</title>
  </head>

  <body class="no-js {{ page.layout }}-layout">
{{ content }}{% for script in site.scripts %}
    {% include script.html script=script %}{% endfor %}{% for script in layout.scripts %}
    {% include script.html script=script %}{% endfor %}{% for script in page.scripts %}
    {% include script.html script=script %}{% endfor %}{% if page.script %}

    <script>
{{ page.script }}    </script>{% endif %}
  </body>
</html>
